<html><head><title>Pastebin!</title></head><body>
    <h1>Pastebin!</h1>
    <p>Welcome to the pastebin.</p>
    <p>Available pastes:<ul>
        {{#each pastes ~}}
        <li><tt>
            <a href="/{{paste_id}}">{{paste_id ~}}</a></tt>&nbsp;<a href="/edit/{{paste_id}}">&#x270e;</a>:&nbsp;
            {{~ snippet}}
            {{~ #if ellipsis ~}}
            &nbsp;<span style="color:gray">...</span>
            {{~ /if}}</li>
        {{~ /each}}
    </ul></p>
</body></html>
